.u-section-1 .u-sheet-1 {
  min-height: 242px;
}

.u-section-1 .u-text-1 {
  margin: 95px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 444px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(16, 129, 224) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-text-2 {
    margin-right: 1px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 1px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 216px;
}

.u-section-3 .u-text-1 {
  margin: 4px 0 26px;
}.u-section-4 .u-sheet-1 {
  min-height: 547px;
}

.u-section-4 .u-gallery-1 {
  width: 698px;
  height: 500px;
  grid-gap: 10px 10px;
  margin: 40px auto 60px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -32px;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-over-slide-6 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 8px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 8px;
}

@media (max-width: 767px) {
  .u-section-4 .u-gallery-1 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-1 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-2 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-3 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-4 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-5 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-6 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    height: 378px;
    margin-top: 123px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-over-slide-1 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-2 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-3 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-4 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-5 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-6 {
    width: 340px;
  }
}